<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>986981584153-j4fj4gqurhr1cutfvunigeos6kljbs38.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.986981584153-j4fj4gqurhr1cutfvunigeos6kljbs38</string>
	<key>API_KEY</key>
	<string>AIzaSyAZM83dSaP8vqEeOrJT0f5cJzwDzA2NjJI</string>
	<key>GCM_SENDER_ID</key>
	<string>986981584153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.infinitysports.BluesFansClub</string>
	<key>PROJECT_ID</key>
	<string>chelsea-news-3f908</string>
	<key>STORAGE_BUCKET</key>
	<string>chelsea-news-3f908.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:986981584153:ios:38c2b7f29928709a</string>
	<key>DATABASE_URL</key>
	<string>https://chelsea-news-3f908.firebaseio.com</string>
</dict>
</plist>